body {
    font-family: $fuente-arial;  
}

h1 {
    font-family: $fuente-oswald;
    text-transform: uppercase;
    font-size: 40px;
}

h3 {
    font-family: $fuente-oswald;
    font-size: 15px;
    letter-spacing: 1px;
}

p {
    font-family: $fuente-arial;
    font-size: 18px;
    line-height: 32px;
}