#principal{
    width: 80%;
    height: 400px;
    background-color: beige;
    border: green 10px solid;
    border-radius: 8px;
    padding: 20px 30px 40px 30px;
}

#hijo1, #hijo2{
    display: inline-block;
}

#hijo1 {
    width: 30%;
    height: 50%;
    background-color: brown;
    border: black 4px dotted;
    margin: 30px 40px 0px 20px;
    padding-bottom: 40px;
}

#hijo2{
    width: 55%;
    height: 80%;
    background-color: azure;
    border: yellow 19px dashed;
    border-radius: 40px;
}