thead tr th{
    background-color: black;
    color: white;
    font-style: italic;
}

tfoot tr td{
    background-color: blueviolet;
    text-transform: uppercase;
    color: white;
}

tbody tr td:last-child, tfoot tr td:last-child{
    font-weight: bold;
    text-align: center;
}

tbody tr:nth-child(odd){
    background-color: aquamarine;
}

tbody tr:nth-child(even){
    background-color: beige;
}