li a span{
    color: green;
}

ul li{
   display: inline-flex;
   width: 160px;
}

li a{
    text-decoration: none;
    padding-right: 100px;
}

ul li a::after{
    content: "INICIAR SESIÓN";
    color: green;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 15px;
    position:absolute;
    top: 15px;
    margin-left: 5px;
}

ul li:last-child a::after{
    content: "FAVORITOS";
}
