body{
    margin: 0 auto;
}

#div1, #div2{
    width: 50%;
    font-size: 30px;
    margin: 0 auto;
    text-align: justify;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightgray;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}