/* resetea los estilos del navegador */
*{margin: 0; padding: 0;}


/* Cambia caracteristicas generales del menú */
nav{
    background-color: #bbdb88;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para los enlaces */
nav ul li a {
    text-decoration: none;
    color: white;
}

/* Estilos para los enlaces al pasar el ratón por encima */
nav ul li a:hover{
    color: black;
    text-decoration: underline;
}

/* Cambiar color del cuarto enlace del menu (rebajas) */
nav ul li:nth-child(4) a {
  color: red;
}
